*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
.hero{
    background-image: url(https://wallpapercave.com/dwp2x/wp8759489.jpg);
    
}
.titolo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 50px;
background-color: antiquewhite;
}
.container{
    display: flex;
}
.foto{
    display: flex;
box-sizing: border-box;
border-radius: 16px;
}
.testo--1{
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
}
.testo-foto-2{
    display: flex;
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: small;
}
.testo--2{
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
}
.testo-3{
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: antiquewhite;
}
.testo-4{
display: flex;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: antiquewhite;
}
.sottotitolo-3{
    background-color: antiquewhite;

}

.container-4{
    position: relative;
}
.img-2{
position: relative;
margin-left: 300px;
}
.container-fine{
    position: relative;
    background-color: antiquewhite;
text-align: center;
}
