.navbar{
    font-family: "cormoran";
    background-color:gainsboro;
    position: sticky;
    top: 0;
}
body,html{
    height: 100%;
}
.main{
    width: 100%;
    height: 100vh;
background-size: cover;
    background-image: url(https://wallpapercave.com/dwp2x/wp8093475.jpg);
-webkit-background-size:cover;
-moz-background-size:cover;
}
.main-content{
    width: 500px;
    height: 100%;
    background-image:linear-gradient(to right,#004e90 0,rgba(0,78,144,0)100%) ;

}
    .main-title{
        padding: 200px 0 0 40px;
    }
    .main-title h1{
        font-family: cormoran;
        font-size: 40px;
        color:blanchedalmond;
        margin-bottom: 20px;
        line-height: 45px;
    }
    .main-title h2{
        font-family: cormoran;
        font-size: 24px;
        font-weight: 300;
        font-style: cormoran;
        color:black;
        margin-bottom: 20px;
        line-height: 32px;
        background-color:gainsboro;
        border-radius: 10px;

    
    }
     .card{
background: none;
        float:right;
        bottom: 550px;
        position: relative;
        width: 300px;
        right: 120px;
        bottom: 660px;
    }
    @media screen and (max-width: 600px) {
        .card .main-title {
          width: 100%;
          display: block;
        }
      }
.footer{
    background-color:gainsboro;
    position:absolute;
    bottom:auto;
    margin: 0;
    padding:0;
    height: 100px;
    width: 100%;
}
.h5{
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
}
.sci{
    text-align: center;
    position: absolute;
top: 0;
left: 650px;
}
.text{
    position: absolute;
    top: -1px;
    font-family: cormoran;
    margin-left: 1000px;
    text-align: right;
}

