.navbar{
    font-family: "cormoran";
    background-color: antiquewhite;
    position: sticky;
    top: 0;
}
body,html{
    height: 100%;
        background-image: url(https://wallpapercave.com/wp/wp10695155.jpg);
        height: 100vh;}

    

  .hero-img{
    background-image: url(https://wallpapercave.com/wp/wp10695155.jpg);
    height: 100vh;

  }

.card{
    position: relative;
    left: 30px;
    bottom: 80px;


}
.background-img{
    background-image: url(https://wallpapercave.com/wp/wp10616118.jpg);
}
.card-title{
    background-color:gainsboro;
    border-radius: 10px;
    color: black;
    font-family: cormoran;
}
.btn{
    position:relative;
    left: 50px;
    border-radius: 20px;
    font-family: cormoran;
    color: antiquewhite;
    background-color: black;
    border: none;
}
.btn:hover{
    background-color:antiquewhite;
    color: black;
}
.footer{
    background-color:antiquewhite;
    position:absolute;
    bottom:auto;
    margin: 0;
    padding:0;
    height: 100px;
    width: 100%;
}
.h5{
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
}
.sci{
    text-align: center;
    position: absolute;
top: 0;
left: 650px;
}
.card{
    position:sticky;
    top: 0;
}
.p{
    position: relative;
    left:600px;
    bottom: 500px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: aliceblue;
}
